TUPLES - ()

Tuples is very simple topic and similar to list the only difference we use roundbrackets() instead of squarebrackets[] which we uses in list

In [6]:
# Lets revise some slicing and then move forward with tuples

In [7]:
letters = ['A','B','C','D','E','F','G','H','I','J']
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [8]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [9]:
letters[::2]

['A', 'C', 'E', 'G', 'I']

In [10]:
letters[::-1]

['J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [11]:
letters [2:7]

['C', 'D', 'E', 'F', 'G']

In [12]:
letters [2:7:2]

['C', 'E', 'G']

In [13]:
letters [2:7:-1]

[]

In [ ]:
#Well here we get nothing because the reason is you can get from Item Number 2 to item number seven using
#a step of minus one step of minus one.

#So if you want to use and I get an exception these have to be reversed.

In [17]:
letters [7:2:-1]

['H', 'G', 'F', 'E', 'D']

---

In [18]:
# Tuples : Immutable list

In [19]:
t1 = (333,666,999)

In [20]:
t1

(333, 666, 999)

In [21]:
t1[0]

333

In [22]:
t1[3]           #t1[2] is the last index in above tuple therefore it is giving an error.

IndexError: tuple index out of range

In [23]:
t1[2]

999

In [ ]:
# Most important we cannot change a tuple once it is created 
#Let's see

In [25]:
t1[1]

666

In [26]:
t1[1]= 777

TypeError: 'tuple' object does not support item assignment

So just the only thing to remember here is that it's sort of square brackets use parentheses and then

that means that those values or that object cannot be changed.

And that object will remain constant for the remainder of its life.

'HAPPY CODING'